<div class="container">
  <h2>Restaurants</h2>
  <div class="div">
    <ul>
      <% @restaurants.each do |restaurant| %>
      <li><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></li>
      <% end %>

  </div>
  <%= link_to "add new restaurant",new_restaurant_path, :class=>"btn btn-primary" %></p>

  </ul>

</div>
